* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  height: 100vh;
  width: 100%;
}

.App,
.Opening-Section,
.App-Content_componentsCta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Opening-Section {
  height: 30%;
  width: 100%;
}

.Opening-Title_h1 {
  font-size: 3rem;
}

.Opening-Title_h4 {
  font-size: 1.5rem;
  padding-top: 2rem;
}

.App-Content_componentsCta {
  height: 70%;
  width: 100%;
  padding-top: 2rem;
  justify-content: flex-start;
}